.Header{
    background-color: black;
    padding: 15px;
}

.Header .container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
}

.Header .logotype{
    display: flex;
    align-items: center;
}

.Header .logotype h1{
    font-size: 1rem;
    margin:0 0 0 10px;
}

.Header .iconLogo{
    color: black;
    width: 30px;
    height: 30px;
}

.Header .container nav ul{
    display: flex;
}

.Header .container nav ul li{
    list-style-type: none;
    margin: 0 0 0 20px;
}
.Header .container nav ul li a{
    color: #FFF;
    text-decoration: none;
}

.Header .container nav ul li a:hover{
    color: #fd4f04
}

.Header .container nav ul li a.active{
    color: #fd8d5c
}